<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card m-3">
            <h4 class="card-body" style="font-size: 25px;">Update Information</h4>
            <div class="card-body">
               
                <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
        
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="firstName" formControlName="firstName"
                                    placeholder="Enter first name">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="lastName" formControlName="lastName"
                                    placeholder="Enter last name">
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="location" formControlName="location"
                                    placeholder="Enter profile image url">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="mobile" formControlName="mobile"
                                    placeholder="Enter mobile number">
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <input type="date" class="form-control" name="birthDate" formControlName="birthDate"
                                    placeholder="Select birth date">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="email" formControlName="email"
                                    placeholder="Enter email">
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <textarea class="form-control" name="address" formControlName="address"
                                    placeholder="Enter address"></textarea>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="organization"
                                formControlName="organization" placeholder="Enter organization">
                            </div>
                        </div>
                    </div><br>
                   
                    <div class="form-row">
                        <button class="btn btn-primary mr-2">Update</button>
                        <button class="btn btn-danger" (click)="goProfilePage()">Cancel</button>
                    </div>
        
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>