<div class="w3-container w3-content profileContainer">
  <div class="row">
    <div class="container d-flex" *ngFor="let profile of profiles;">
      <div class="user-image">
        <img src="{{profile.location}}" alt="this image contains user-image"><br>
        <i class="fa-sharp fa-solid fa-pen mr-2" (click)="editProfile(profile.userId)"></i>
        <i class="fa-sharp fa-solid fa-trash" (click)="deleteProfile(profile.userId)"></i>
      </div>

      <div class="content">
        <h3 class="name">{{profile.firstName}} {{profile.lastName}}</h3>
        <p class="username">{{profile.email}}</p>
        <p class="organization">{{profile.organization}}</p>
        <p>{{profile.address}}</p><br>
        <p>{{profile.mobile}}</p>
        <p class="birthdate">{{profile.birthDate | date : 'dd/MM/yyyy'}}</p>


        <div class="links">
          <a class="facebook" href="https://www.facebook.com/geeksforgeeks.org/" target="_blank" title="GFG_facebook">
            <i class="fab fa-facebook"></i>
          </a>

          <a class="git" href="https://github.com/topics/geeksforgeeks" title="GFG_github" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>

          <a class="linkedin" href="https://www.geeksforgeeks.org/tag/linkedin/" title="GFG_linkedin" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>

          <a class="insta" href="https://www.instagram.com/geeks_for_geeks/?hl=en" target="_blank"
            title="GFG_instagram">
            <i class="fab fa-instagram-square"></i>
          </a>
        </div>

        <p class="details">
          Software Engineer
        </p>

        <a class="effect effect-4" routerLink="/dashboard/chatbox">
          Message
        </a>
      </div>

    </div>
  </div>