<form [formGroup]="form">
    <div class="container">
        <h2>Linked<span>
                <img src="assets/in.png" alt="" height="25" width="25" style="margin-left: 5px;margin-bottom:5px">
            </span>
            <span style="font-size: 30px;margin-left: 100px;color: black;">Sign Up</span>
            <a class="close" href="/">×</a>
        </h2>
        <div class="your-input">
            <div class="input mb-4">
                <input type="text" name="name" id="name" formControlName="name" required
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">First and Last name is required</div>
                </div>
                <label for="name">Name</label>
            </div>
            <div class="input mb-4">
                <input type="text" name="username" id="username" formControlName="username" required
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
                <label for="username">
                    Username
                </label>
            </div>
            <div class="input mb-4">
                <input type="text" name="mobile" id="mobile" formControlName="mobile" required
                    [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" maxlength="10" />
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile.errors.required">Mobile number is required</div>
                    <div *ngIf="f.mobile.errors.pattern">Enter 10 digit mobile number.</div>
                </div>
                <label for="mobile">
                    Mobile
                </label>
            </div>
            <div class="input mb-4">
                <input type="text" name="email" id="email" formControlName="email" required
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.pattern">Enter a valid email</div>
                </div>
                <label for="email">
                    Email
                </label>
            </div>
            <div class="input mb-4">
                <input type="password" name="password" id="password" formControlName="password" required
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password at least 8 digit required</div>
                    <div *ngIf="f.password.errors.pattern">Password minimum have one uppercase , special character and
                        number </div>
                </div>
                <label for="password">
                    Password
                </label>
            </div>
        </div>
        <button (click)="onSubmit()">Register</button>

        <div class="alert alert-warning" *ngIf="isSignUpFailed">
            {{message}}
        </div>

        <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successfully...
        </div>

    </div>
</form>