<header>
  <div class="container-fluid container-nav">
    <div class="titles">
      <h1>LinkedIn</h1>
    </div>
    <nav>
      <ul>
        <li>
          <div class="dropdown">
            <a class="dropbtn">Me</a>
            <div class="dropdown-content">
                <div><img src="{{userProfiles.profileImage}}" alt="" height="80" width="100%">
                    <p style="font-weight: bold;">{{userProfiles.name}}</p>
                </div>
                <div><button class="btn btn-outline-primary" style="width: 100%;"
                        (click)="goToViewProfilePage()">View Profile</button></div><br>
                <a style="text-align: center;" (click)="logout()"><button class="btn btn-danger">Sign out</button></a>
            </div>
          </div>
        </li>
        <li><a routerLink="/dashboard/profile">Profile</a></li>
        <li><a routerLink="/dashboard/mynetwork">MyNetwork</a></li>
        <li><a routerLink="/dashboard/jobs">Jobs</a></li>
        <li><a routerLink="/dashboard/posts">Posts</a></li>
        
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
