<div class="container">
    <div class="row">
        <div class="col-3 d-flex">
            <h2>All Jobs</h2><br>
        </div>
        <div class="col-6">
            <div class="input-icons d-flex" style="justify-content: right;">
                <i class="fa fa-search icon"></i>
                <input type="text" class="form-control" placeholder="Search Jobs..." [(ngModel)]="filterTerm" />
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" routerLink="/admin/addjob">Create Job</button>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Organization</th>
                <th>Date</th>
                <th>Postion</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr
                *ngFor="let job of jobs.reverse() | filter: filterTerm | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total }">
                <td>
                    <img src="{{job.organizationLogo}}" alt="" style="height: 50px;">
                </td>
                <td>{{job.organization}}</td>
                <td>{{job.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{job.postion}}</td>
                <td>
                    <img src="assets/delete.png" alt="" height="25" (click)="deleteJobs(job.jobId)">
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="pagination" (pageChange)="pageChangeEvent($event)"></pagination-controls>
</div>